@mixin transition() {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
 *, :after, :before {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #fafafa;
  .wrapper {
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    #navigation {
      width: auto;
      margin-bottom: 15px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 10;
      -moz-transition: -moz-transform .25s;
      -o-transition: -o-transform .25s;
      -webkit-transition: -webkit-transform .25s;
      transition: transform .25s;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      
      .menu-trigger {
        position: absolute;
        border: none;
        z-index: 999;
        margin: 0;
        background-color: #4285F4;
        display: inline-block;
        height: 65px;
        width: 65px;
        cursor: pointer;
        .transition {
          width: 18px;
          height: 14px;
          margin: 27px 24px;
          position: relative;
          .line {
            -moz-transition: -moz-transform .25s;
            -o-transition: -o-transform .25s;
            -webkit-transition: -webkit-transform .25s;
            transition: transform .25s;
            height: 2px;
            background: white;
            position: absolute;
          }
          .line.bottom.left {
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
          }
          .line.bottom.right {
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
          }
          .line.top.left {
            -moz-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          .line.top.right {
            -moz-transform-origin: 100% 0%;
            -ms-transform-origin: 100% 0%;
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
          }
          .line.top {
            top: 0;
            width: 50%;
          }
          .line.left {
            left: 0;
          }
          .line.right {
            right: 0;
          }
          .line.mid {
            width: 100%;
            top: 6px;
          }
          .line.bottom {
            bottom: 0;
            width: 50%;
          }
        }
      }
      .menu-trigger.active {
        .transition {
          .line {
            -moz-transition: -moz-transform .25s;
            -o-transition: -o-transform .25s;
            -webkit-transition: -webkit-transform .25s;
            transition: transform .25s;
          }
          .line.top.left {
                -moz-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
                -ms-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
                -webkit-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
                transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
          }
          .line.top.right {
            -moz-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
            -ms-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
            -webkit-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
            transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
          }
          .line.mid {
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
          }
          .line.bottom.left {
             -moz-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
            -ms-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
            -webkit-transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
            transform: translate(2px, 2px) rotate(-45deg) scaleX(1.25);
          }
          
          .line.bottom.right {
            -moz-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
            -ms-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
            -webkit-transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
            transform: translate(-2px, 2px) rotate(45deg) scaleX(1.25);
          }
        }
      }
      .nav-items {
        position: absolute;
        top: 0;
        width: auto;
        display: block;
        background: #fff;
        @include transition();
        z-index: 998;
        left: 65px;
        transform: translateX(-100%);
        height: 65px;
        padding: 0;
        margin: 0;
        .nav-item {
          position: relative;
          display: inline-block;
          font-size: 14px;
          font-family: 'Proxima Nova';
          font-weight: 500;
          &:hover .nested-items {
            display: block;
          }
          
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: #555555;
            display: inline-block;
            padding: 22.5px 20px;
            &:hover {
              color: #000;
              background: #ddd;
            }

          }
          a.active {
            color: #000;
            background: #ddd;
          }
          .nested-items {
            display: none;
            z-index: 998;
            position: absolute;
            .nested-item {
              a {
                display: block;
                background: #ddd;
                color: #000;
                width: 214px;

                &:hover {
                  background: #4285F4;
                  color: #fff;
                }

              }
            }
          }
        }
        .nav-brand {
          background: #4285F4;
          padding-right: 25px;
          a {
            color: #fff;
            font-family: 'Lato';
            text-transform: none;
          }
        }
      }
      .nav-items.active {
        transform: translateX(0);
      }
    }

    .container {
      width: 100%;
      padding: 0;
      div[data-target="carousel"] {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 600px;
        
        .articles {
          article {
            @include transition();
            opacity: 0;
            display: none;
            position: absolute;
            width: 100%;
            height: 500px;
            overflow: initial;
            .images {
              position: absolute;
              a {
                -webkit-user-select: none;
                .mobile-crop {
                  display:none;
                }
                .not-mobile-crop {
                  width: 100%;
                }
              }
              .img-overlay {
                animation: fadeIn 1s;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(3,3,3,0.3);
                transition: opacity 600ms cubic-bezier(0.39,0.575,0.565,1);
                -webkit-transition: opacity 600ms cubic-bezier(0.39,0.575,0.565,1);
              }
            }
            .info {
                display: block;
                position: absolute;
                pointer-events: none;
                bottom: 16%;
                margin-left: 100px;
                width: 70%;
              .tag {
                border: 2px solid #fff;
                font: bold 0.875em/1em "BentonSans","Arial",sans-serif;
                background: transparent;
                color: #fff;
                display: inline-block;
                padding: 8px 17px 6px;
                position: relative;
                margin-bottom: 30px;
                text-transform: uppercase;
                animation: fadeIn 0.8s;
                transition: opacity 600ms,transform 600ms cubic-bezier(0.39,0.575,0.565,1);
                -webkit-transition: opacity 600ms,-webkit-transform 600ms,transform 600ms cubic-bezier(0.39,0.575,0.565,1);
                opacity: 0;
                transform: translate3d(20px,0,0);
                -webkit-transform: translate3d(20px,0,0);
              }
              .content {
                animation: fadeIn 1s;
                font-family: "Lato";
                font-size: 2.5rem;
                height: 100%;
                display: inline-block;
                background: rgba(0,0,0,0.3);
                line-height: 1.7em;
                top: 0px;
                width: 100%;
                text-align: left;
                position: relative;
                margin: 0;
                padding: 0;
                padding-left: 10px;
                transition: transform 600ms,opacity 600ms cubic-bezier(0.39,0.575,0.565,1);
                -webkit-transition: -webkit-transform 600ms,transform 600ms,opacity 600ms cubic-bezier(0.39,0.575,0.565,1);
                opacity: 0;
                transform: translate3d(20px,0,0);
                -webkit-transform: translate3d(20px,0,0);
                a {
                  color: #fff;
                }
              }
            }
          }
          article.active {
            opacity: 1;
            display: table;
          transform: translate3d(0,0,0);
          -webkit-transform: translate3d(0,0,0);
            .info {
              .tag {
                opacity: 1;
              }
              .content {
                opacity: 1;
              }
            }
          }
        }
        
        .indicators {
          list-style: none;
          bottom: 0px;
          height: 30px;
          left: 25%;
          line-height: 8px;
          margin: 0px auto;
          overflow: hidden;
          position: absolute;
          text-align: center;
          width: 50%;
          li {
            cursor: pointer;
            cursor: hand;
            margin-left: 3px;
            margin-right: 3px;
            line-height: 20px;
            display: inline-block;
            
            span {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: transparent none repeat scroll 0% 0%;
                border: 2px solid #FFF;
                box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
            }
            
          }
          li.active {
            span {
              background-color: #fff;
            }
          }
        }
        .prev-left {
          left: 0;
          cursor: hand;
        }
        .next-right {
          right: 0;
          cursor: hand;
          
        }
        .prev-left, .next-right {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 80px;
          cursor: pointer;
          cursor: hand;
          
          &:hover {
            background: rgba(0,0,0,0.1);
          }
        }
      }
    }
    #profile {
      margin-bottom: 15px;
      background: #4285F4;
      height: 400px;
    }
    #projects {
      .projs {
        @include transition();
        width: 100%;
        .proj {
          @include transition();
          height: 300px;
          background: #ccc;
          display: inline-block;
          padding: 0;
          &:hover .info .actionables {
            visibility: visible;
            opacity: 1;
            
          }
          &:hover .info p {
            padding-bottom: 20px;
          }
          .info {
            @include transition();
            width: 360px;
            position: absolute;
            padding: 20px;
            padding-bottom: 0;
            bottom: 30px;
            left: 30px;
            h3, p {
              -webkit-transition: all 0.1s ease-in-out;
              -moz-transition: all 0.1s ease-in-out;
               -o-transition: all 0.1s ease-in-out;
              transition: all 0.1s ease-in-out;
              color: #fff;
            }
            h3 {
              margin: 0;
              font: 500 14px 'Proxima Nova', 'Open Sans', Arial, Helvetica, sans-serif;
              text-transform: uppercase;
              font-size: 16px;
              padding-bottom: 15px;
            }
            p {
              font-family: 'Proxima Nova';
              font-weight: 400;
              font-size: 16px;
              padding-bottom: 0;
            }
            .actionables {
              @include transition();
              position: relative;
              padding-bottom: 20px;
              box-sizing: border-box;
              min-height: 30px;
              display: table;
              width: 100%;
              opacity: 0;
              visibility: hidden;
              -webkit-transition-property: opacity,visibility;
              -moz-transition-property: opacity,visibility;
              transition-property: opacity,visibility;
              -webkit-transition-duration: 0.1s;
              -moz-transition-duration: 0.1s;
              transition-duration: 0.1s;
              -webkit-transition-timing-function: linear;
              -moz-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0;
              -moz-transition-delay: 0;
              transition-delay: 0;
              .link-wrapper {
                width: 90%;
                display: table-cell;
                box-sizing: border-box;
                vertical-align: middle;
                
                a {
                      color: #fff;
                      text-decoration: none;
                      text-transform: uppercase;
                      font: 400 14px 'Proxima Nova', 'Open Sans', Arial, Helvetica, sans-serif;

                }
              }
            }
          } 
        }
        .proj.large {
          height: 400px;
          background: url(https://images.unsplash.com/photo-1427751840561-9852520f8ce8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=066c3296c39c50ff74dd939aea66ab04) center center no-repeat;
          background-size: cover;
          .info {
            background: #EB1762;
          }
        }
        .proj.sm {
          height: 400px;
          background: url(https://images.unsplash.com/photo-1455894127589-22f75500213a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=204615391e1417eb122cf35079f65bab) center center no-repeat;
          background-size: cover;
          .info {
            background: #512FAC;
          }
        }
        .proj.med {
          background: url(https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dbea27138e4493b0472801ba3fa261ed) center center no-repeat;
          background-size: cover;
          .info {
            bottom: 20px;
            background: #46BC01;
          }
        }
        .proj.med.med-2 {
          background-size: cover;
          background: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca8c08d17555247f7580691500bb5351) center center no-repeat;
        }
     }
    }
  }
}

@media screen and (max-width: 1150px) {
  body {
    .wrapper {
      width: 1024px;
    }
  }
}

@media screen and (max-width: 1080px) {
  body {
    .wrapper {
      width: 850px;
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    .wrapper {
      width: 768px;
    }
  }
}
@media screen and (max-width: 780px) {
  body {
    .wrapper {
      width: 100%;
      #slider {
        .carousel {
          .prev-left, .next-right {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 721px) {
  body {
    .wrapper {
      #slider {
        .carousel {
          .articles {
            article {
              .info {
                margin-left: 0;
                width: 90%;
                text-align: center;
                padding: 20px;
                .content {
                  font-size: 16px;
                }
              }
            }
          }
          .prev-left, .next-right {
            width: 40px;
          }
        }
      }
    }
  }
}
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { left: -50px; opacity:0; opacity: 1\9; /* IE9 only */ } to { left: 0; opacity:1; } }

