nav#navigation
      .menu-trigger.active
        .transition
          .line.top.left
          .line.top.right
          .line.mid
          .line.bottom.left
          .line.bottom.right
      ul.nav-items.active
        li.nav-item 
          a(href='#') About
        li.nav-item 
          a(href='#') Projects
          ul.nested-items
            li.nested-item
              a(href='#') HearYe App
            li.nested-item
              a(href='#') Pulseband
            li.nested-item
              a(href='#') Designation
            li.nested-item
              a(href='#') Octopus App
            li.nested-item
              a(href='#') Usercentric
        li.nav-item 
          a(href='#') Connect
          ul.nested-items
            li.nested-item
              a(href='http://github.com/brandonfujii' target='_blank') Github
            li.nested-item
              a(href='http://linkedin.com/in/bfujii' target='_blank') LinkedIn
            li.nested-item
              a(href='mailto:brandonfujii2018@u.northwestern.edu') E-mail
            li.nested-item
              a(href='#') Resume

